.Header
{
    background-color: #222;
    height: 250px;
    padding: 20px;
    text-align: center;
    color: white; 
}

h2 {
    font-size:30px;
    color: white;
    }

.Logo img
{
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes App-logo-spin
{
    from{ transform: rotate(0deg);}
    to { transform: rotate(360deg); }
}

.Menu
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.Menu li
{
    display: inline-block;
    padding-right: 10px;
}

.Menu li{
    display:inline-block;
    list-style: none;
}

.Menu li a{
    color: #CCC;
    text-decoration: none;
}

.Menu li a:hover{
    color: #EEE;
}

